<div class="container">
    <div class="row">
        <div class="col-sm"><a routerLink = "/camera">Cam</a></div>
        <div class="col-sm">Or</div>
        <div class="col-sm"><a routerLink = "/gallery">Gallery</a></div>
    </div>
    <div class="row">
    <h4>Images which can be identified</h4>
    <ul>
        <li>airplane</li>
        <li>automobile</li>
        <li>bird</li>
        <li>cat</li>
        <li>deer</li>
        <li>dog</li>
        <li>frog</li>
        <li>horse</li>
        <li>ship</li>
        <li>truck</li>
    </ul>
    </div>
</div>